Host cern
    Hostname lxplus8.cern.ch
    User fesoubel
    ForwardX11Trusted yes
    StrictHostKeyChecking no

# This is the service account for restricted operations in lintrack
Host lintrack
    Hostname lxplus8.cern.ch
    User lintrack
    ForwardX11Trusted yes
    StrictHostKeyChecking no

# After 'ssh tunnel' go to System Preferences -> Network -> Advanced -> Proxies -> Tick SOCKS and configure with 127.0.0.1 and port 8090
Host tunnel
    Hostname lxtunnel.cern.ch
    User fesoubel
    # SOCKS5 proxy for web, see below
    #LocalForward 8090 localhost:8090
    DynamicForward 8090   

Host technet1
    User fesoubel
    Hostname cs-ccr-dev1.cern.ch
    ProxyCommand ssh -X cern -W %h:%p 2> /dev/null
    ForwardX11Trusted yes
    StrictHostKeyChecking no

Host technet2
    User fesoubel
    Hostname cs-ccr-dev2.cern.ch
    ProxyCommand ssh -X cern -W %h:%p 2> /dev/null
    ForwardX11Trusted yes
    StrictHostKeyChecking no

Host optics1
    User fesoubel
    Hostname cs-ccr-optics1.cern.ch
    ProxyCommand ssh -X technet1 -W %h:%p 2> /dev/null

Host optics2
    User fesoubel
    Hostname cs-ccr-optics2.cern.ch
    ProxyCommand ssh -X technet2 -W %h:%p 2> /dev/null

Host desktop
    Hostname pcbe16711.cern.ch
    User felix
    ProxyCommand ssh -X cern -W %h:%p 2> /dev/null
    StrictHostKeyChecking no

Host workstation
    Hostname pcbe-abp-hpc002.cern.ch
    User fesoubel
    ProxyCommand ssh -X cern -W %h:%p 2> /dev/null
    StrictHostKeyChecking no

Host gpus
    Hostname pcbe-abp-gpu001.cern.ch
    User fesoubel
    ProxyCommand ssh -X cern -W %h:%p 2> /dev/null
    StrictHostKeyChecking no

Host lxplus*.cern.ch
    ForwardX11Trusted yes
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials yes

Host *
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_rsa
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Timeout 12h
