Host cern
    Hostname lxplus.cern.ch
    User fesoubel
    ForwardX11Trusted yes
    StrictHostKeyChecking no

Host machine
    Hostname fesoubel-lxplus
    User root
    ProxyCommand ssh -X cern -W %h:%p 2> /dev/null

Host desktop
    Hostname pcbe16711.cern.ch
    User felix
    StrictHostKeyChecking no

Host workstation
    Hostname pcbe-abp-hpc002.cern.ch
    User fesoubel
    ProxyCommand ssh -X cern -W %h:%p 2> /dev/null
    StrictHostKeyChecking no

Host lxplus.cern.ch
    ForwardX11Trusted yes
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials yes

Host *
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_rsa
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Timeout 12h
